{% load static  %}
<!-- top seller container start -->
<section id="topSellerContainer">
    <div class="wrapper">
        <div class="categorieTop">
            <h3>Top Instructor</h3>
            <a href="" class="seeAll">See All</a>
        </div>
        <div class="topSellerBottom">
            <ul>
                <li>
                    <a href="">
                        <img
                            src="{% static 'images/Rectangle 1136.png' %}"
                            alt=""
                            class="seller"
                        />
                        <h3 class="sellerName">Ronald Richards</h3>
                        <p class="sellerCategory">UI/UX Designer</p>
                        <div class="sellerDetails">
                            <span class="sellerRating">
                                <img
                                    src="{% static 'icons/star.svg' %}"
                                    alt=""
                                    class="star"
                                />
                                4.3
                            </span>
                            <p class="sellerCustomers">2400 Students</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img
                            src="{% static 'images/Rectangle 1136.png' %}"
                            alt=""
                            class="seller"
                        />
                        <h3 class="sellerName">Ronald Richards</h3>
                        <p class="sellerCategory">UI/UX Designer</p>
                        <div class="sellerDetails">
                            <span class="sellerRating">
                                <img
                                    src="{% static 'icons/star.svg' %}"
                                    alt=""
                                    class="star"
                                />
                                4.3
                            </span>
                            <p class="sellerCustomers">2400 Students</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img
                            src="{% static 'images/Rectangle 1136.png' %}"
                            alt=""
                            class="seller"
                        />
                        <h3 class="sellerName">Ronald Richards</h3>
                        <p class="sellerCategory">UI/UX Designer</p>
                        <div class="sellerDetails">
                            <span class="sellerRating">
                                <img
                                    src="{% static 'icons/star.svg' %}"
                                    alt=""
                                    class="star"
                                />
                                4.3
                            </span>
                            <p class="sellerCustomers">2400 Students</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img
                            src="{% static 'images/Rectangle 1136.png' %}"
                            alt=""
                            class="seller"
                        />
                        <h3 class="sellerName">Ronald Richards</h3>
                        <p class="sellerCategory">UI/UX Designer</p>
                        <div class="sellerDetails">
                            <span class="sellerRating">
                                <img
                                    src="{% static 'icons/star.svg' %}"
                                    alt=""
                                    class="star"
                                />
                                4.3
                            </span>
                            <p class="sellerCustomers">2400 Students</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img
                            src="{% static 'images/Rectangle 1136.png' %}"
                            alt=""
                            class="seller"
                        />
                        <h3 class="sellerName">Ronald Richards</h3>
                        <p class="sellerCategory">UI/UX Designer</p>
                        <div class="sellerDetails">
                            <span class="sellerRating">
                                <img
                                    src="{% static 'icons/star.svg' %}"
                                    alt=""
                                    class="star"
                                />
                                4.3
                            </span>
                            <p class="sellerCustomers">2400 Students</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- top seller container end -->