<!-- custemor section starting -->
<section id="CustomerFeedbackSection">
    <div class="wrapper">
        <div class="CustomerTop">
            <ul>
                <li><h3>What Our Customer Say About Us</h3></li>
                <li>
                    <div class="buttonGruop">
                        <button class="Left">
                            <img src="{% static 'icons/left.svg' %}" alt="" />
                        </button>
                        <button class="Right">
                            <img src="{% static 'icons/right.svg' %}" alt="" />
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="CustomerBottom">
            <ul>
                <li>
                    <img
                        src="{% static 'icons/double_quots.svg' %}"
                        alt=""
                        class="quote"
                    />
                    <p class="customerQuote">
                        "Byway's tech courses are top-notch! As someone
                        who's always looking to stay ahead in the
                        rapidly evolving tech world, I appreciate the
                        up-to-date content and engaging multimedia.
                    </p>
                    <div class="customerQuoteBottom">
                        <img
                            src="{% static 'images/Ellipse 61.png' %}"
                            alt=""
                            class="customer"
                        />
                        <div class="customerQuoteBottomRight">
                            <h3 class="reviwername">Jane Doe</h3>
                            <p class="type">Designer</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img
                        src="{% static 'icons/double_quots.svg' %}"
                        alt=""
                        class="quote"
                    />
                    <p class="customerQuote">
                        "Byway's tech courses are top-notch! As someone
                        who's always looking to stay ahead in the
                        rapidly evolving tech world, I appreciate the
                        up-to-date content and engaging multimedia.
                    </p>
                    <div class="customerQuoteBottom">
                        <img
                            src="{% static 'images/Ellipse 61.png' %}"
                            alt=""
                            class="customer"
                        />
                        <div class="customerQuoteBottomRight">
                            <h3 class="reviwername">Jane Doe</h3>
                            <p class="type">Designer</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img
                        src="{% static 'icons/double_quots.svg' %}"
                        alt=""
                        class="quote"
                    />
                    <p class="customerQuote">
                        "Byway's tech courses are top-notch! As someone
                        who's always looking to stay ahead in the
                        rapidly evolving tech world, I appreciate the
                        up-to-date content and engaging multimedia.
                    </p>
                    <div class="customerQuoteBottom">
                        <img
                            src="{% static 'images/Ellipse 61.png' %}"
                            alt=""
                            class="customer"
                        />
                        <div class="customerQuoteBottomRight">
                            <h3 class="reviwername">Jane Doe</h3>
                            <p class="type">Designer</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img
                        src="{% static 'icons/double_quots.svg' %}"
                        alt=""
                        class="quote"
                    />
                    <p class="customerQuote">
                        "Byway's tech courses are top-notch! As someone
                        who's always looking to stay ahead in the
                        rapidly evolving tech world, I appreciate the
                        up-to-date content and engaging multimedia.
                    </p>
                    <div class="customerQuoteBottom">
                        <img
                            src="{% static 'images/Ellipse 61.png' %}"
                            alt=""
                            class="customer"
                        />
                        <div class="customerQuoteBottomRight">
                            <h3 class="reviwername">Jane Doe</h3>
                            <p class="type">Designer</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- custemor section ending -->