{% load static %}
<footer>
    <div class="wrapper">
        <ul>
            <li>
                <a href=""
                    ><img
                        src="{% static 'icons/logo.svg' %}"
                        alt=""
                        class="logo"
                    />
                    <h3 class="logoName">Byway</h3>
                </a>
                <p class="description">
                    Empowering learners through accessible and engaging online
                    education. <br />
                    Byway is a leading online learning platform dedicated to
                    providing high-quality, flexible, and affordable educational
                    experiences.
                </p>
            </li>
            <li>
                <h3 class="heading">Get Help</h3>
                <a href="" class="items">Contact Us</a>
                <a href="" class="items">Latest Articles</a>
                <a href="" class="items">FAQ</a>
            </li>
            <li>
                <h3 class="heading">Products</h3>
                <a href="" class="items">Laptop </a>
                <a href="" class="items">Furniture</a>
                <a href="" class="items">Smart Phone</a>
                <a href="" class="items">Accessories</a>
                <a href="" class="items">TVs & Appliances</a>
            </li>
            <li>
                <h3 class="heading">Contact Us</h3>
                <a href="" class="items"
                    >Address: 123 Main Street, Anytown, CA 12345
                </a>
                <a href="" class="items">Tel: +(123) 456-7890</a>
                <a href="" class="items"> Mail: bywayedu@webkul.in</a>
                <div class="socialMedia">
                    <a href=""
                        ><img
                            src="{% static 'images/facebook.png' %}"
                            alt=""
                            class="mediaImg"
                    /></a>
                    <a href=""
                        ><img
                            src="{% static 'images/github.png' %}"
                            alt=""
                            class="mediaImg"
                    /></a>
                    <a href=""
                        ><img
                            src="{% static 'images/google.png' %}"
                            alt=""
                            class="mediaImg"
                    /></a>
                    <a href=""
                        ><img
                            src="{% static 'images/twitter.png' %}"
                            alt=""
                            class="mediaImg"
                    /></a>
                    <a href=""
                        ><img
                            src="{% static 'images/microsoft.png' %}"
                            alt=""
                            class="mediaImg"
                    /></a>
                </div>
            </li>
        </ul>
    </div>
</footer>
